.main {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.maincont {
    position: absolute;
    width: auto;
    margin: auto;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.footer {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -115%);

    filter: opacity(20%);

    transition: 0.4s;
}
.dot1{
    animation: dot1 infinite;
    animation-duration: .5s;
    animation-timing-function: linear;
}
@keyframes dot1{
    0%{filter:opacity(0%);}
    50%{filter: opacity(100%);}
    100%{filter: opacity(0%);}
}
.dot2{
    animation: dot2 infinite;
    animation-duration: .5s;
    animation-delay: 0.1s;
    animation-timing-function: linear;
}
@keyframes dot2{
    0%{filter:opacity(0%);}
    50%{filter: opacity(100%);}
    100%{filter: opacity(0%);}
}
.dot3{
    animation: dot3 infinite;
    animation-duration: .5s;
    animation-delay: 0.2s;
    animation-timing-function: linear;
}
@keyframes dot3{
    0%{filter:opacity(0%);}
    50%{filter: opacity(100%);}
    100%{filter: opacity(0%);}
}
.red{
    color:rgb(75, 70, 97);
}

.righter {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(400%, -235%);
}
.lefter {
    text-align: center;
    margin: 0;
    position: absolute;
    filter: opacity(20%);

    transition: 0.4s;
}


.alert {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 190%);
    color: rgb(117, 211, 255);
    transition: 0.4s;
    background: white;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgb(173, 229, 255);

}

.invis {
    display: none
}

.alertcont {
    animation-name: alert;
    animation-delay: 0s;
    animation-duration: 2s;
    margin-top: 10px;
}

@keyframes alert {
    0% {
        filter: opacity(0%);
        margin-top: 10px;
    }

    50% {
        filter: opacity(100%);
        margin-top: 20px;
    }

    100% {
        filter: opacity(0%);
        margin-top: 30px;
    }
}

.btn {
    background: rgb(67, 67, 82);
    border-radius: 10px;
    color: white;
}

.btn:active {
    background: rgb(121, 121, 138);
    border-radius: 10px;
    color: white;
}

.text {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    color:rgb(52, 50, 59)
}
.textW {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    color:rgb(255, 255, 255)
}

.color {
    color: red;
}

.smallish {
    font-size: 3vw;
}

.smaller {
    font-size: 2vw;
}

.mini {
    font-size: 1.5vw;
}

.clickable {
    text-decoration: none;
    color: rgb(52, 50, 59)
}

.footer:hover {

    filter: opacity(30%);
}
.lefter:hover {

    filter: opacity(30%);
}

.small {
    font-size: 1vw;
}

.medium {
    font-size: 5vw;
}

.flat {
    font-family: 'Staatliches', cursive;
}

.decorative {
    font-family: 'Fredoka One', cursive;
}

body {
    padding: 10px;
}

input {
    width: 500px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

p {
    font-size: 18px;
    line-height: 28px;
    font-family: Georgia, serif;
    color: #333;
}